<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.orq" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace= "/fragments/head :: head"> </head>

<body>
    
    <nav th:replace = "/fragments/nav :: nav"> </nav>

    <main class="mainIndex">

    </main>

    <footer>
        <div class="descriptionContainer">
            <h6>¿Quienes somos?</h6>
            <img src="iconNav.png" alt="Icono Footer">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam eius laudantium mollitia nam rem sit
                quas illum ipsa aliquid nisi necessitatibus dolore blanditiis ex, natus hic non numquam perferendis
                odit.
            </p>
        </div>
        <div class="imformationContainer">
            <h6>Comunicacion</h6>
            <ul>
                <li>Dirección</li>
                <li>Telefóno</li>
                <li><a href="#">Email</a></li>
            </ul>
        </div>
        <div class="socialContainer">
            <h6>Redes Sociales</h6>
            <ul>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
            </ul>
        </div>
    </footer>
    
    <script th:replace = "/fragments/scriptBt :: script" ></script>
    
</body>

</html>