<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.orq" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title th:text="${title}"></title>
        <link rel="shortcut icon" href="iconNav.png">
        <link href="style.css" rel="stylesheet" type="text/css"/>
    </head>

    <body>
        <header>
            <h2 class="logo">Flowers</h2>
            <nav class="navigation">
                <a th:href="@{/}" th:if="${session.userSession != null}">Inicio</a>
                <a href="#">Nosotros</a>
                <a href="#">Contacto</a>                
                <a class="btnUser-popUp"  th:if="${session.userSession != null}" th:text="${session.userSession.name}"></a>
                <ul class="ulUser-popUp">
                    <li><a href="#">Perfil</a></li>
                    <li><a th:href="@{/logout}">Salir</a></li>
                </ul>
                <a  th:if="${session.userSession == null}" class="btnRegister-popUp">Resgistrar</a>
                <button th:if="${session.userSession == null}" class="btnLogin-popUp">Login</button>
            </nav>
        </header>

        <main >
            <div th:if="${error != null}" class="cardMsjError" >
                <div>
                    <h4>Error!</h4>
                    <p th:text="${error}"></p>
                    <ion-icon name="sad-outline"></ion-icon>
                    
                </div>
            </div>
            <div th:if="${success != null}" class="cardMsjSuccess" >
                <div class="card-body">
                    <h5>Exito!</h5>
                    <p th:text="${success}"></p>
                    <ion-icon name="happy-outline"></ion-icon>
                </div>
            </div>F
            <div class="wrapper"> 
                <span class="iconClose"><ion-icon name="close"></ion-icon></span>
                <div class="formBox login">
                    <h2>Login</h2>
                    <form th:action="@{/logincheck}" method="POST">
                        <div class="inputBox">
                            <span class="icon"><ion-icon name="mail"></ion-icon></span>
                            <input type="email" name="email" id="email" required>
                            <label for="email">Email</label>
                        </div>
                        <div class="inputBox">
                            <span class="icon"><ion-icon class="lookIcon" name="lock-closed"></ion-icon></span>
                            <input type="password" name="password" id="password" class="inputPass" required>
                            <label for="password">Contraseña</label>
                        </div>
                        <div class="rememberForgot">
                            <label> <input type="checkbox">Acordarme</label>
                            <a href="#">¿Olvidaste la contraseña?</a>
                        </div>
                        <button type="submit" class="btnLogin">Login</button>
                        <div class="loginRegister">
                            <p>¿No tenes una cuenta? <a href="#" class="registerLink">Registrar</a></p>
                        </div>
                    </form>
                </div>

                <div class="formBox register">
                    <h2>Registrar</h2>
                    <form th:action="@{/registered}" method="POST">
                        <div class="inputBox">
                            <span class="icon"><ion-icon name="person"></ion-icon></span>
                            <input type="text" name="name" id="name" required>
                            <label for="name">Nombre</label>
                        </div>
                        <div class="inputBox">
                            <span class="icon"><ion-icon name="mail"></ion-icon></span>
                            <input type="email" name="email" id="email" required>
                            <label for="email">Email</label>
                        </div>
                        <div class="inputBox">
                            <span class="icon"><ion-icon class="lookIcon" name="lock-closed"></ion-icon></span>
                            <input type="password" name="password" id="password" class="inputPass" required>
                            <label for="password">Contraseña</label>
                        </div>
                        <div class="inputBox">
                            <span class="icon"><ion-icon class="lookIcon" name="lock-closed"></ion-icon></span>
                            <input type="password" name="password2" id="password2" class="inputPass" required>
                            <label for="password2">Repetir contraseña</label>
                        </div>
                        <div class="rememberForgot">
                            <label>Al registrarte estas deacuerdo con los terminos y condiciones</label>
                        </div>
                        <button type="submit" class="btnLogin">Registrar</button>
                        <div class="loginRegister">
                            <p>¿Tenes una cuenta? <a href="#" class="loginLink">Login</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </main>

        <footer th:replace = "/fragments/footer :: footer" ></footer>

        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script src="script.js"></script>
    </body>

</html>